body {
    text-align: center;
}

#rules{
  width:200px;
  height:200px;
  position:absolute;
}

#rules .bg {
  position: absolute;
  width:100%;
  height:100%;
  background-color: white;
  opacity: .8;
  border-radius: 7px;
}
